<div class="row">
    <div class="col">
            <div class="card" >
                    
                    <div class="card-body">
                      <h5 class="card-title">Bayesian Bodybuilding</h5>
                      <p class="card-text">Created by statistician & bodybuilding coach Menno Henselmans, a great source on the internet for advanced training & nutrition advice based on hard scientific evidence.</p>
                      <a href="https://bayesianbodybuilding.com/" class="btn btn-primary">View Site</a>
                    </div>
                  </div>
    </div>
    <div class="col">
            <div class="card" >
                    
                    <div class="card-body">
                      <h5 class="card-title">OTR</h5>
                      <p class="card-text">On The Regimen is a mix of top-quality fat loss, motivation, and life advice by Mike Vacanti.</p>
                      <a href="http://www.ontheregimen.com/" class="btn btn-primary">View Site</a>
                    </div>
                  </div>
    </div>
    <div class="col">
            <div class="card" >
                    
                    <div class="card-body">
                      <h5 class="card-title">Syatt Fitness</h5>
                      <p class="card-text">Strength coach and former world record powerlifter Jordan Syatt teaches you how to get lean & strong through barbell training- while avoiding the form errors that can lead to training injuries.</p>
                      <a href="https://www.syattfitness.com/" class="btn btn-primary">View Site</a>
                    </div>
                  </div>
    </div>
    <div class="col">
      <div class="card" >
              
              <div class="card-body">
                <h5 class="card-title">Girls Gone Strong</h5>
                <p class="card-text">Run by a collective of seven female strength coaches, Girls Gone Strong helps women of all shapes and sizes to get strong and healthy and feel good about their bodies.</p>
                <a href="https://www.girlsgonestrong.com/" class="btn btn-primary">View Site</a>
              </div>
            </div>
  </div>
  <div class="col">
      <div class="card" >
              
              <div class="card-body">
                <h5 class="card-title">Fat Burning Man</h5>
                <p class="card-text">Abel James, the owner of this site, lost 20 pounds in 40 days using short, intense bouts of exercise and a paleo-ish diet that he dubs The Wild Diet.</p>
                <a href="http://fatburningman.com/" class="btn btn-primary">View Site</a>
              </div>
            </div>
  </div>
  </div>
  <div class="row">
      <div class="col">
              <div class="card" >
                      
                      <div class="card-body">
                        <h5 class="card-title">Muscle For Life</h5>
                        <p class="card-text">Natural bodybuilder Mike Matthews teaches men and women to build the body of their dreams. He takes a back to basics approach- lift heavy weights 3–5 times a week, eat well, rest and recover.</p>
                        <a href="https://www.muscleforlife.com/" class="btn btn-primary">View Site</a>
                      </div>
                    </div>
      </div>
      <div class="col">
              <div class="card" >
                      
                      <div class="card-body">
                        <h5 class="card-title">Strong First</h5>
                        <p class="card-text">Strongfirst is the home of Pavel Tsatsouline, a strength coach famous for first training Russian special forces, and then popularizing kettlebell training in the West. His focus is more on strength rather than body composition. </p>
                        <a href="https://www.strongfirst.com/" class="btn btn-primary">View Site</a>
                      </div>
                    </div>
      </div>
      <div class="col">
              <div class="card" >
                      
                      <div class="card-body">
                        <h5 class="card-title">Born Fitness</h5>
                        <p class="card-text">Adam Bornstein is one of the biggest voices speaking out against the prevalence of medical quackery and phony “magic pills” in the industry. His training philosophy is big on unconventional exercises, like hauling tires and swinging ropes. </p>
                        <a href="https://www.bornfitness.com/blog/" class="btn btn-primary">View Site</a>
                      </div>
                    </div>
      </div>
      <div class="col">
        <div class="card" >
                
                <div class="card-body">
                  <h5 class="card-title">Precision Nutrition</h5>
                  <p class="card-text">This site serves a broader variety of needs- rather than specializing in one style of training or one diet, it helps people find the style that works for them, and offers coaches versed in a variety of fitness methodologies.</p>
                  <a href="https://www.precisionnutrition.com/" class="btn btn-primary">View Site</a>
                </div>
              </div>
    </div>
    <div class="col">
        <div class="card" >
                
                <div class="card-body">
                  <h5 class="card-title">Sleep Junkies</h5>
                  <p class="card-text">This site focuses on sleep, plain and simple. Sleep is quite possibly the most underrated part of fitness. Sleep Junkies explains the importance of sleep, how to sleep well, and even tells you which mattresses, pillows and other bedroom supplies to use.</p>
                  <a href="https://sleepjunkies.com/" class="btn btn-primary">View Site</a>
                </div>
              </div>
    </div>
    </div>
    <div class="row">
        <div class="col">
                <div class="card" >
                        
                        <div class="card-body">
                          <h5 class="card-title">Sohee Fit</h5>
                          <p class="card-text">Sohee Lee is a former anorexic and current bikini and powerlifting competitor, personal trainer, and is currently working on her masters in health psychology.</p>
                          <a href="http://soheefit.com/" class="btn btn-primary">View Site</a>
                        </div>
                      </div>
        </div>
        <div class="col">
                <div class="card" >
                        
                        <div class="card-body">
                          <h5 class="card-title">BodyBuilding.com</h5>
                          <p class="card-text">A large selection of fitness articles, exercises, workouts, supplements, & community to help you reach your goals!</p>
                          <a href="https://www.bodybuilding.com/" class="btn btn-primary">View Site</a>
                        </div>
                      </div>
        </div>
        <div class="col">
                <div class="card" >
                        
                        <div class="card-body">
                          <h5 class="card-title">Muscle & Fitness</h5>
                          <p class="card-text">Your ultimate source for full workout plans and advice on building muscle, improving nutrition, and using supplements.</p>
                          <a href="https://www.muscleandfitness.com/" class="btn btn-primary">View Site</a>
                        </div>
                      </div>
        </div>
        <div class="col">
          <div class="card" >
                  
                  <div class="card-body">
                    <h5 class="card-title">Do Yoga With Me</h5>
                    <p class="card-text">The level of instruction is top-notch and there are videos that focus on pretty much every part of the body, so you can target the area that you need to work on most.</p>
                    <a href="https://www.doyogawithme.com/" class="btn btn-primary">View Site</a>
                  </div>
                </div>
      </div>
      <div class="col">
          <div class="card" >
                  
                  <div class="card-body">
                    <h5 class="card-title">Fitness Blender</h5>
                    <p class="card-text">Here you will find full-length fat-burning workouts, kickboxing routines, total body strength training, workouts for boosting metabolism, stretching sequences, and more.</p>
                    <a href="https://www.fitnessblender.com/" class="btn btn-primary">View Site</a>
                  </div>
                </div>
      </div>
      </div>
            