
<div class="container">
    <div *ngIf="!submitted">
    <!--<div id="messages" class="hide" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div id="messages_content"></div>
      </div>-->

  <h5 class="container-title">MY WORKOUT</h5>
  <form [formGroup]="exerciseForm" (ngSubmit)="onSubmit(exerciseForm)">
      <div class="form-group">
  <!--<form action="/exercise" id="workout" method="get">
    <div class="form-group">-->
      <label for="date">Date:</label>
      <input type="date" class="form-control" placeholder="Enter date" formControlName="date">
    </div>
    <div class="form-group">
      <label for="exercise">Enter type of exercise:</label>
      <select id="type" formControlName="exercise">
        <option value="cardio">Running</option>
        <option value="weights">Weight Lifting</option>
        <option value="stair">Stair Stepper</option>
        <option value="bicycle">Bicycle</option>
        <option value="walk">Walking</option>
        <option value="other">Other</option>
      </select>
    </div>
    <div class="form-group">
      <label for="duration">Duration (minutes):</label>
      <input type="number" class="form-control" placeholder="Enter duration" formControlName="duration">
    </div>
    <div class="form-group">
      <label for="notes">Special notes:</label>
      <input type="text" class="form-control" placeholder="Enter notes" formControlName="notes">
    </div>
    <button type="submit" (click)="submitForm($event, form)" class="btn btn-primary">Submit</button>
  </form>
  </div>
</div>

<div *ngIf="submitted">
    <h2>You submitted the following:</h2>
    <div class="row">
        <div class="col-md-2">Date:</div>
        <div class="col-md-10 pull-left">{{ submittedModel.date }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">Type of Exercise:</div>
        <div class="col-md-10 pull-left">{{ submittedModel.exercise }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">Duration</div>
        <div class="col-md-10 pull-left">{{ submittedModel.duration }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">Special Notes:</div>
        <div class="col-md-10 pull-left">{{ submittedModel.notes }}</div>
    </div>
    <br />
    <button class="btn btn-default" (click)="submitted=false">Edit</button>
</div>    


