<div class="login-form justify-content-center">
        <form >
            <h2 class="text-center">Log in</h2>
                  
            <div class="form-group">
                <input #Name type="text" class="form-control" placeholder="Username" required="required">
            </div>
            <div class="form-group">
                <input #Password type="password" class="form-control" placeholder="Password" required="required">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block" (click)="login(Name.value, Password.value)">Login</button>
            </div>
            <div class="clearfix">
                <button class="btn btn-block border-success text-success bg-light" (click)="googlelogin()" >Login with Google</button>
            </div>         
        </form>
</div>

    