<!-- <div class="row justify-content-center" >
  <div class="col-md-4">
      
      <div class="card" >
          <div class="card-header"> Login </div>
          <div class="card-body">
              <div class="row" >
                  <input #Name placeholder="User Name" />
                  <input #Password placeholder="Password" />
                  
                  <button (click)="login(Name.value, Password.value)" >Login</button>
              </div>
              
          </div>
      </div>
  </div>
</div>
-->
<style type="text/css">
	.login-form {
		width: 340px;
    	margin: 50px auto;
	}
    .login-form form {
    	margin-bottom: 15px;
        background: #f7f7f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
    .login-form h2 {
        margin: 0 0 15px;
    }
    .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
    }
    .btn {        
        font-size: 15px;
        font-weight: bold;
    }
</style>
<div class="login-form justify-content-center">
        <form >
            <h2 class="text-center">Log in</h2>       
            <div class="form-group">
                <input #Name type="text" class="form-control" placeholder="Username" required="required">
            </div>
            <div class="form-group">
                <input #Password type="password" class="form-control" placeholder="Password" required="required">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block" (click)="login(Name.value, Password.value)">Login</button>
            </div>
            <div class="clearfix">
                <label class="pull-left checkbox-inline"><input type="checkbox"> Remember me</label>
                <a href="#" class="pull-right">Forgot Password?</a>
            </div>        
        </form>
        <p class="text-center"><a href="#">Create an Account</a></p>
</div>

    