<!--<nav class="navbar navbar-expand-sm navbar-light" style="background-color: #e3f2fd;">
    <div class="container">
        <a class="navbar-brand" href="#">Exercise Tracker</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                <a class="nav-link" routerLink="/home" routerLinkActive="active" >Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                <a class="nav-link" routerLink="/game" routerLinkActive="active" >Log</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">History</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Inspiration</a>
                    </li>
            </ul>
            <div class="navbar-text pull-right">
        <img [src]="Game.pic" style="height: 24px;" />
        {{Game.Me.Name}}
            </div>
        </div>
    </div>
</nav>-->

<!-- Image and text -->
<nav class="navbar navbar-light" style="background-color: #f78e93;">
    <a class="navbar-brand" href="#">
      <img src="https://wsd.casio.com/assets_v2/img/ico/ico_exercisetimer.png" width="30" height="30" class="d-inline-block align-top" alt="">
      Exercise Tracker
    </a>
    <div class="navbar-text pull-right">
        <img [src]="Game.pic" style="height: 24px;" />
        {{Game.Me.Name}}
    </div>
</nav>