<div class="row" >
    <div class="col-md-4">
        <div class="card" >
            <div class="card-header">My Stats ({{Me.Name}}) </div>
            <ul class="list-group list-group-flush my-quotes">
                    <div [hidden]="submitted">
                    <form #f="ngForm" (ngSubmit)="onSubmit()" novalidate>
                        <p>Update Profile:</p>
                        <div class="form-group">
                            <label for="gender">Gender:</label>
                            <input name="gender" ngModel required #gender="ngModel">
                        </div>
                        <div class="form-group">
                            <label for="age">Age:</label>
                            <input name="age" ngModel required #age="ngModel">
                        </div>
                        <div class="form-group">
                            <label for="height">Height:</label>
                            <input name="height" ngModel required #height="ngModel">
                        </div>
                        <div class="form-group">
                                <label for="weight">Weight:</label>
                                <input name="weight" ngModel required #weight="ngModel">
                        </div>
                        <div class="form-group">
                            <label for="activities">Favorite Activities:</label>
                            <input name="activities" ngModel required #activities="ngModel">
                        </div>
                            <p></p>
                            <button>Save</button>
                          </form>
                    </div>
                        <p>Gender: {{ gender.value }}</p>
                        <p>Age: {{ age.value }}</p>
                        <p>Height: {{ height.value }}</p>
                        <p>Weight: {{ weight.value }}</p>
                        <p>Favorite Activities: {{ activities.value }}</p>
                        
            </ul>
          </div>
    </div>
    <div class="col-md-8">
        <div class="card mb-3" >
            <div class="card-header text-black">My Workouts</div>
                <ul class="list-group list-group-flush ">
                    <ul>{{submittedModel.id}}</ul>
                    <ul>{{submittedModel.date}}</ul>
                    <ul>{{submittedModel.exercise}}</ul>
                    <ul>{{submittedModel.duration}}</ul>
                    <ul>{{submittedModel.notes}}</ul>
                </ul>
            </div>
            
    </div>
    <div class="col-md-4">
        
        <div class="card" >
            <div class="card-header">Other Users</div>
            <ul class="list-group list-group-flush">
                <li *ngFor="let player of Model.Players" class="list-group-item">
                    <img style="height: 16px; width: 16px" class="rounded">
                    {{player.Name}}
                </li>
            </ul>
        </div>
    </div>
</div>