<div class="row" >
    <div class="col-md-4">
        
        <div class="card" >
            <div class="card-header">My Stats ({{Me.Name}}) </div>
            <ul class="list-group list-group-flush my-quotes">
                <li></li> 
            </ul>
          </div>
    </div>
    <div class="col-md-8">
        <div class="card bg-success mb-3" >
            <div class="card-header text-white">Played Quotes</div>
                <ul class="list-group list-group-flush ">
                   
                </ul>
            </div>
            
            <div class="card">
                <img class="card-img" *ngIf="Model.Picture" [src]="Model.Picture.url" />
                <div class="card-img-overlay" style="text-align: center">
                    
                </div>
            </div>
    </div>
    <div class="col-md-4">
        
        <div class="card" >
            <div class="card-header">Other Users</div>
            <ul class="list-group list-group-flush">
                <li *ngFor="let player of Model.Players" class="list-group-item">
                    <img style="height: 16px; width: 16px" class="rounded">
                    {{player.Name}}
                </li>
            </ul>
        </div>
    </div>
</div>